In [104]:
emp_sal=[["ram",1000],["raju",2000]]
print(emp_sal)
print(emp_sal[1][1])
emp_sal[1][1]=3000
type(emp_sal)

[['ram', 1000], ['raju', 2000]]
2000

list

In [74]:
emp_sal2=[1,2,3,4,5,6]
emp_sal2[-1]
emp_sal[0][0]

'ram'

In [110]:
emp_sal[0][0]="ram reddy"
print(emp_sal)
emp_sal[2]=["abc"]
print(emp_sal)

[['ram reddy', 1000], ['raju', 3000, 3000], ['abc']]
[['ram reddy', 1000], ['raju', 3000, 3000], ['abc']]

In [114]:
del(emp_sal[2])
emp_sal

[['ram reddy', 1000], ['raju']]

In [123]:
x=[1,2,3,4,5]
y=x
z=list(x)
y[0]=100
print(y)
print(x)
print(z)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [125]:
x=1
while x<10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9

In [155]:
a=0
b=1
while b<10:
    print(b,end=',')
    b,a=a+b,b

1,1,2,3,5,8,

In [177]:
i=10
while i>0:
    i-=1
    if i == 3:
        continue
    print(i)

9
8
7
6
5
4
2
1
0

In [163]:
i=0
while i<6:
    i+=1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [173]:
family_heights=[1.73,1.68,1.71,1.89]
for i,height in enumerate(family_heights):
    print("index "+str(i)+" : "+str(height))

index 0 : 1.73
index 1 : 1.68
index 2 : 1.71
index 3 : 1.89

In [188]:
house={"12":12.255,"13":12.548}
for key,value in house.items():
    print("The " + str(key) + " is " + str(value) )

The 12 is 12.255
The 13 is 12.548

In [192]:
import numpy as np
np_f_h=np.array([1.73,1.68,1.71,1.89])
for height in np_f_h :
    print(height)

1.73
1.68
1.71
1.89

In [195]:
import numpy as np
np_f_h=np.array([1.73,1.68,1.71,1.89])
np_f_w=np.array([70,60,65,80])
np_f_h_w=np.array([np_f_h,np_f_w])
for height in np.nditer(np_f_h_w) :
    print(height,end=", ")

1.73, 1.68, 1.71, 1.89, 70.0, 60.0, 65.0, 80.0,

In [237]:
import pandas as pd
brics = pd.read_csv("brics.csv",index_col=0)
print("******** 04 Add Column to result ********")
for lab, row in brics.iterrows():
    brics.loc[lab,"name_length"]=len(row["bbbb"])
print(brics)

******** 04 Add Column to result ********

KeyError: 'bbbb'

In [222]:
import pandas as pd
brics = pd.read_csv("data.csv",index_col=0)
print("******* 01. Column Names ********")
for val in brics :
    print(val)
print("******** 02 All rows ******** ")
for lab, row in brics.iterrows():
    print(lab)
    print(row)
print("******** 03 Selcted Columns *******")
for lab, row in brics.iterrow():
    print(lab + ": " + row["Low"])
print("******** 04 Add Column to result ********")
for lab, row in brics.iterrows():
    brics.loc[lab,"name_length"]=len(row["country"])
print(brics)
print("******** 05 Another method to add Column to result *******")
brics["name_length1"] = brics["country"].aply(len)
print(brics)

******* 01. Column Names ********
Open
High
Low
Last Traded Price
Change
%Change
Traded Volume(lacs)
Traded Value(crs)
52 Week High
52 Week Low
365 Days % Change
30 Days % Change
******** 02 All rows ********
NIFTY 50
Open                   11,967.30
High                   11,968.10
Low                    11,883.50
Last Traded Price      11,914.40
Change                       -54
%Change                    -0.45
Traded Volume(lacs)     4,868.16
Traded Value(crs)      19,243.19
52 Week High           12,103.05
52 Week Low            10,333.85
365 Days % Change           12.4
30 Days % Change            2.81
Name: NIFTY 50, dtype: object
TATASTEEL
Open                   386.00
High                   402.80
Low                    383.10
Last Traded Price      401.35
Change                  16.25
%Change                  4.22
Traded Volume(lacs)    172.72
Traded Value(crs)      677.01
52 Week High           562.00
52 Week Low            320.35
365 Days % Change      -27.21
30 Days % Change        13.22
Name: TATASTEEL, dtype: object
EICHERMOT
Open                   21,766.30
High                   22,965.00
Low                    21,600.00
Last Traded Price      22,850.00
Change                     895.4
%Change                     4.08
Traded Volume(lacs)         2.51
Traded Value(crs)         560.03
52 Week High           25,300.00
52 Week Low            15,200.00
365 Days % Change          -5.64
30 Days % Change           14.37
Name: EICHERMOT, dtype: object
ZEEL
Open                     344.00
High                     362.80
Low                      334.60
Last Traded Price        355.95
Change                     10.8
%Change                    3.13
Traded Volume(lacs)      621.27
Traded Value(crs)      2,202.21
52 Week High             506.90
52 Week Low              199.15
365 Days % Change        -18.86
30 Days % Change          42.12
Name: ZEEL, dtype: object
NTPC
Open                   116.95
High                   119.20
Low                    116.95
Last Traded Price      118.20
Change                    2.9
%Change                  2.52
Traded Volume(lacs)    139.34
Traded Value(crs)      164.38
52 Week High           145.85
52 Week Low            106.67
365 Days % Change      -20.05
30 Days % Change        -2.23
Name: NTPC, dtype: object
JSWSTEEL
Open                   245.00
High                   253.00
Low                    244.30
Last Traded Price      251.30
Change                   6.05
%Change                  2.47
Traded Volume(lacs)     49.28
Traded Value(crs)      122.10
52 Week High           329.40
52 Week Low            201.75
365 Days % Change      -22.93
30 Days % Change        14.38
Name: JSWSTEEL, dtype: object
VEDL
Open                   139.50
High                   142.85
Low                    138.70
Last Traded Price      142.10
Change                   3.05
%Change                  2.19
Traded Volume(lacs)    101.73
Traded Value(crs)      143.39
52 Week High           213.30
52 Week Low            125.30
365 Days % Change      -29.62
30 Days % Change        -4.73
Name: VEDL, dtype: object
ONGC
Open                   131.00
High                   134.65
Low                    130.80
Last Traded Price      133.70
Change                   2.55
%Change                  1.94
Traded Volume(lacs)     63.24
Traded Value(crs)       84.16
52 Week High           178.90
52 Week Low            115.55
365 Days % Change      -11.89
30 Days % Change        -7.31
Name: ONGC, dtype: object
GRASIM
Open                   778.40
High                   796.90
Low                    770.25
Last Traded Price      792.10
Change                  13.15
%Change                  1.69
Traded Volume(lacs)     14.58
Traded Value(crs)      114.45
52 Week High           959.80
52 Week Low            633.60
365 Days % Change        -8.3
30 Days % Change         4.77
Name: GRASIM, dtype: object
POWERGRID
Open                   196.00
High                   201.20
Low                    196.00
Last Traded Price      199.00
Change                    2.7
%Change                  1.38
Traded Volume(lacs)     91.12
Traded Value(crs)      181.74
52 Week High           216.25
52 Week Low            172.50
365 Days % Change        9.28
30 Days % Change        -2.95
Name: POWERGRID, dtype: object
HDFC
Open                   2,203.00
High                   2,240.00
Low                    2,199.30
Last Traded Price      2,240.00
Change                    29.65
%Change                    1.34
Traded Volume(lacs)       21.86
Traded Value(crs)        486.44
52 Week High           2,357.85
52 Week Low            1,820.00
365 Days % Change          19.9
30 Days % Change           5.92
Name: HDFC, dtype: object
YESBANK
Open                      64.25
High                      66.15
Low                       64.00
Last Traded Price         64.95
Change                      0.7
%Change                    1.09
Traded Volume(lacs)    1,217.92
Traded Value(crs)        794.69
52 Week High             286.00
52 Week Low               29.00
365 Days % Change        -67.22
30 Days % Change          25.39
Name: YESBANK, dtype: object
COALINDIA
Open                   196.95
High                   199.35
Low                    196.30
Last Traded Price      198.70
Change                    2.1
%Change                  1.07
Traded Volume(lacs)     43.36
Traded Value(crs)       85.76
52 Week High           271.45
52 Week Low            177.70
365 Days % Change      -23.86
30 Days % Change        -4.84
Name: COALINDIA, dtype: object
SUNPHARMA
Open                   450.00
High                   461.90
Low                    445.10
Last Traded Price      450.80
Change                   3.65
%Change                  0.82
Traded Volume(lacs)    121.15
Traded Value(crs)      549.39
52 Week High           536.30
52 Week Low            344.55
365 Days % Change       -15.4
30 Days % Change        11.19
Name: SUNPHARMA, dtype: object
IOC
Open                   128.65
High                   130.40
Low                    128.35
Last Traded Price      129.85
Change                   0.95
%Change                  0.74
Traded Volume(lacs)     67.29
Traded Value(crs)       87.28
52 Week High           170.75
52 Week Low            116.25
365 Days % Change        -8.3
30 Days % Change       -11.33
Name: IOC, dtype: object
ITC
Open                   247.15
High                   252.65
Low                    246.65
Last Traded Price      247.50
Change                    1.8
%Change                  0.73
Traded Volume(lacs)    163.70
Traded Value(crs)      408.31
52 Week High           310.00
52 Week Low            234.05
365 Days % Change      -12.16
30 Days % Change        -0.56
Name: ITC, dtype: object
RELIANCE
Open                   1,542.10
High                   1,569.50
Low                    1,537.60
Last Traded Price      1,548.05
Change                    10.45
%Change                    0.68
Traded Volume(lacs)      102.19
Traded Value(crs)      1,585.29
52 Week High           1,572.40
52 Week Low            1,055.00
365 Days % Change          39.1
30 Days % Change           9.47
Name: RELIANCE, dtype: object
MARUTI
Open                   7,034.00
High                   7,077.45
Low                    7,000.00
Last Traded Price      7,065.00
Change                    45.95
%Change                    0.65
Traded Volume(lacs)        6.86
Traded Value(crs)        482.67
52 Week High           7,949.75
52 Week Low            5,446.05
365 Days % Change         -4.84
30 Days % Change          -2.64
Name: MARUTI, dtype: object
HINDALCO
Open                   188.00
High                   191.30
Low                    187.05
Last Traded Price      189.50
Change                    0.9
%Change                  0.48
Traded Volume(lacs)     46.36
Traded Value(crs)       87.76
52 Week High           237.90
52 Week Low            171.10
365 Days % Change      -15.08
30 Days % Change         2.02
Name: HINDALCO, dtype: object
BAJAJFINSV
Open                   9,059.80
High                   9,080.00
Low                    8,981.00
Last Traded Price      9,074.00
Change                     18.9
%Change                    0.21
Traded Volume(lacs)        1.56
Traded Value(crs)        140.59
52 Week High           9,189.00
52 Week Low            5,612.00
365 Days % Change         55.06
30 Days % Change           13.3
Name: BAJAJFINSV, dtype: object
INDUSINDBK
Open                   1,449.95
High                   1,460.80
Low                    1,437.00
Last Traded Price      1,448.95
Change                      2.8
%Change                    0.19
Traded Volume(lacs)       20.62
Traded Value(crs)        298.41
52 Week High           1,834.40
52 Week Low            1,188.05
365 Days % Change         -6.32
30 Days % Change           8.05
Name: INDUSINDBK, dtype: object
GAIL
Open                   122.00
High                   122.65
Low                    121.05
Last Traded Price      122.10
Change                   0.15
%Change                  0.12
Traded Volume(lacs)     68.50
Traded Value(crs)       83.51
52 Week High           183.25
52 Week Low            119.50
365 Days % Change      -64.61
30 Days % Change        -5.71
Name: GAIL, dtype: object
ICICIBANK
Open                   501.10
High                   501.75
Low                    492.15
Last Traded Price      497.65
Change                   -0.6
%Change                 -0.12
Traded Volume(lacs)    184.62
Traded Value(crs)      918.36
52 Week High           509.70
52 Week Low            336.00
365 Days % Change        39.5
30 Days % Change        10.31
Name: ICICIBANK, dtype: object
ULTRACEMCO
Open                   4,084.80
High                   4,097.85
Low                    4,030.05
Last Traded Price      4,070.05
Change                     -7.2
%Change                   -0.18
Traded Volume(lacs)        2.22
Traded Value(crs)         90.38
52 Week High           4,904.95
52 Week Low            3,332.45
365 Days % Change          0.65
30 Days % Change          -4.22
Name: ULTRACEMCO, dtype: object
NESTLEIND
Open                   14,190.00
High                   14,300.95
Low                    14,102.00
Last Traded Price      14,150.00
Change                    -29.45
%Change                    -0.21
Traded Volume(lacs)         0.43
Traded Value(crs)          61.25
52 Week High           15,146.90
52 Week Low            10,031.65
365 Days % Change          38.21
30 Days % Change           -5.79
Name: NESTLEIND, dtype: object
HEROMOTOCO
Open                   2,449.95
High                   2,458.40
Low                    2,426.00
Last Traded Price      2,436.00
Change                    -7.45
%Change                    -0.3
Traded Volume(lacs)        4.72
Traded Value(crs)        115.26
52 Week High           3,380.00
52 Week Low            2,225.60
365 Days % Change        -16.35
30 Days % Change          -8.92
Name: HEROMOTOCO, dtype: object
ADANIPORTS
Open                   372.25
High                   375.55
Low                    370.45
Last Traded Price      371.00
Change                   -1.1
%Change                  -0.3
Traded Volume(lacs)     36.79
Traded Value(crs)      137.20
52 Week High           430.60
52 Week Low            292.10
365 Days % Change         2.7
30 Days % Change       -11.82
Name: ADANIPORTS, dtype: object
SBIN
Open                   331.45
High                   333.80
Low                    328.25
Last Traded Price      329.35
Change                     -2
%Change                  -0.6
Traded Volume(lacs)    289.75
Traded Value(crs)      957.10
52 Week High           373.80
52 Week Low            244.35
365 Days % Change       14.74
30 Days % Change        21.76
Name: SBIN, dtype: object
DRREDDY
Open                   2,855.00
High                   2,904.75
Low                    2,843.00
Last Traded Price      2,858.05
Change                    -21.2
%Change                   -0.74
Traded Volume(lacs)        5.50
Traded Value(crs)        157.55
52 Week High           2,964.00
52 Week Low            1,872.95
365 Days % Change          9.85
30 Days % Change           1.68
Name: DRREDDY, dtype: object
HINDUNILVR
Open                   2,050.00
High                   2,053.20
Low                    2,008.00
Last Traded Price      2,030.80
Change                   -17.85
%Change                   -0.87
Traded Volume(lacs)        8.36
Traded Value(crs)        169.32
52 Week High           2,190.00
52 Week Low            1,650.00
365 Days % Change         20.17
30 Days % Change          -4.54
Name: HINDUNILVR, dtype: object
AXISBANK
Open                   737.40
High                   740.00
Low                    727.50
Last Traded Price      730.60
Change                   -6.8
%Change                 -0.92
Traded Volume(lacs)     48.90
Traded Value(crs)      358.32
52 Week High           827.75
52 Week Low            580.50
365 Days % Change       16.55
30 Days % Change          2.5
Name: AXISBANK, dtype: object
BAJFINANCE
Open                   4,130.00
High                   4,143.80
Low                    4,041.00
Last Traded Price      4,080.00
Change                   -43.65
%Change                   -1.06
Traded Volume(lacs)       12.23
Traded Value(crs)        499.62
52 Week High           4,280.00
52 Week Low            2,332.10
365 Days % Change         67.86
30 Days % Change           1.14
Name: BAJFINANCE, dtype: object
BPCL
Open                   513.80
High                   515.45
Low                    505.50
Last Traded Price      508.60
Change                   -5.5
%Change                 -1.07
Traded Volume(lacs)    118.12
Traded Value(crs)      602.61
52 Week High           549.00
52 Week Low            308.35
365 Days % Change       55.73
30 Days % Change        -4.77
Name: BPCL, dtype: object
LT
Open                   1,393.75
High                   1,398.95
Low                    1,371.00
Last Traded Price      1,377.80
Change                    -14.9
%Change                   -1.07
Traded Volume(lacs)       23.63
Traded Value(crs)        326.09
52 Week High           1,607.00
52 Week Low            1,201.10
365 Days % Change         -1.73
30 Days % Change          -4.49
Name: LT, dtype: object
M&M
Open                   554.75
High                   555.00
Low                    539.20
Last Traded Price      545.85
Change                  -5.95
%Change                 -1.08
Traded Volume(lacs)     27.98
Traded Value(crs)      152.39
52 Week High           814.00
52 Week Low            502.55
365 Days % Change      -29.03
30 Days % Change        -8.38
Name: M&M, dtype: object
TITAN
Open                   1,148.00
High                   1,150.70
Low                    1,123.20
Last Traded Price      1,135.05
Change                    -13.2
%Change                   -1.15
Traded Volume(lacs)       23.20
Traded Value(crs)        262.68
52 Week High           1,389.95
52 Week Low              868.20
365 Days % Change          22.5
30 Days % Change         -14.62
Name: TITAN, dtype: object
TATAMOTORS
Open                   164.90
High                   165.25
Low                    160.55
Last Traded Price      162.25
Change                   -1.9
%Change                 -1.16
Traded Volume(lacs)    212.01
Traded Value(crs)      343.96
52 Week High           239.35
52 Week Low            106.00
365 Days % Change      -11.89
30 Days % Change        23.15
Name: TATAMOTORS, dtype: object
BAJAJ-AUTO
Open                   3,180.00
High                   3,186.00
Low                    3,133.50
Last Traded Price      3,150.00
Change                   -38.35
%Change                    -1.2
Traded Volume(lacs)        2.86
Traded Value(crs)         90.11
52 Week High           3,289.00
52 Week Low            2,442.20
365 Days % Change         20.94
30 Days % Change           0.89
Name: BAJAJ-AUTO, dtype: object
HDFCBANK
Open                   1,283.65
High                   1,283.65
Low                    1,262.00
Last Traded Price      1,266.50
Change                   -16.85
%Change                   -1.31
Traded Volume(lacs)       38.44
Traded Value(crs)        488.02
52 Week High           1,287.00
52 Week Low            1,000.08
365 Days % Change        -37.26
30 Days % Change           2.19
Name: HDFCBANK, dtype: object
CIPLA
Open                   485.00
High                   485.00
Low                    472.70
Last Traded Price      478.65
Change                  -6.85
%Change                 -1.41
Traded Volume(lacs)     27.78
Traded Value(crs)      133.03
52 Week High           586.00
52 Week Low            389.55
365 Days % Change       -8.33
30 Days % Change         5.45
Name: CIPLA, dtype: object
BRITANNIA
Open                   3,062.25
High                   3,072.00
Low                    3,016.15
Last Traded Price      3,025.00
Change                   -47.65
%Change                   -1.55
Traded Volume(lacs)        3.50
Traded Value(crs)        106.33
52 Week High           3,583.75
52 Week Low            2,300.00
365 Days % Change        -49.62
30 Days % Change          -6.87
Name: BRITANNIA, dtype: object
TECHM
Open                   765.00
High                   765.00
Low                    742.80
Last Traded Price      753.10
Change                 -12.05
%Change                 -1.57
Traded Volume(lacs)     18.20
Traded Value(crs)      136.49
52 Week High           846.50
52 Week Low            607.15
365 Days % Change        9.04
30 Days % Change         4.94
Name: TECHM, dtype: object
KOTAKBANK
Open                   1,591.95
High                   1,593.90
Low                    1,565.10
Last Traded Price      1,568.90
Change                   -26.35
%Change                   -1.65
Traded Volume(lacs)       18.62
Traded Value(crs)        292.88
52 Week High           1,683.95
52 Week Low            1,153.05
365 Days % Change         33.33
30 Days % Change          -3.68
Name: KOTAKBANK, dtype: object
HCLTECH
Open                   1,130.45
High                   1,134.95
Low                    1,108.95
Last Traded Price      1,117.50
Change                    -19.1
%Change                   -1.68
Traded Volume(lacs)       12.99
Traded Value(crs)        144.83
52 Week High           1,187.60
52 Week Low              920.00
365 Days % Change         13.43
30 Days % Change           4.98
Name: HCLTECH, dtype: object
WIPRO
Open                   243.30
High                   245.65
Low                    242.10
Last Traded Price      243.05
Change                   -4.5
%Change                 -1.82
Traded Volume(lacs)     40.92
Traded Value(crs)       99.73
52 Week High           301.60
52 Week Low            226.99
365 Days % Change      -22.63
30 Days % Change        -4.14
Name: WIPRO, dtype: object
BHARTIARTL
Open                   423.00
High                   429.95
Low                    417.00
Last Traded Price      418.35
Change                  -7.95
%Change                 -1.86
Traded Volume(lacs)    167.76
Traded Value(crs)      709.32
52 Week High           452.95
52 Week Low            258.72
365 Days % Change       25.74
30 Days % Change        11.83
Name: BHARTIARTL, dtype: object
UPL
Open                   541.00
High                   542.50
Low                    530.50
Last Traded Price      533.30
Change                  -11.5
%Change                 -2.11
Traded Volume(lacs)     25.54
Traded Value(crs)      136.72
52 Week High           709.05
52 Week Low            480.67
365 Days % Change      -31.56
30 Days % Change       -10.67
Name: UPL, dtype: object
ASIANPAINT
Open                   1,710.00
High                   1,713.95
Low                    1,676.00
Last Traded Price      1,682.80
Change                   -37.55
%Change                   -2.18
Traded Volume(lacs)       12.75
Traded Value(crs)        215.81
52 Week High           1,834.80
52 Week Low            1,252.15
365 Days % Change         27.08
30 Days % Change          -5.47
Name: ASIANPAINT, dtype: object
TCS
Open                   2,097.00
High                   2,107.00
Low                    2,060.50
Last Traded Price      2,067.10

AttributeError: 'DataFrame' object has no attribute 'iterrow'

In [8]:
_+20

69

In [9]:
ab=true

NameError: name 'true' is not defined

In [10]:
ab= True

In [11]:
type(ab)

bool

In [13]:
a=4.55
type(a)

float

In [14]:
add=1+2j
type(add)

complex

In [15]:
a=10
type(a)

int

In [16]:
a=10
a1=str(a)
type(a1)

str

In [18]:
a="10"
a1=int(a)
type(a1)

print(type(a1))

<class 'int'>

In [24]:
s=100
i=12
t=s+100*i*2/100
t

print("saving"+str(s)+"  amt="+str(t)+"awesome")

saving100  amt=124.0awesome

In [29]:
word="python"
word[1]
word[1:3]
word[:3]
word[1:]
word[:]

'python'

In [41]:
for i in [0,1,2,3,4,5]:
    print(word[i])

p
y
t
h
o
n

In [43]:
word='jython'
word
word[0]='p'

TypeError: 'str' object does not support item assignment

In [46]:
list=[a,s,d,f]

NameError: name 'd' is not defined

In [49]:
emp_sal=[1,2,3,4]
print(emp_sal)
type(emp_sal)

[1, 2, 3, 4]

list

In [1]:
2+3

5

In [2]:
5-2

3

In [3]:
7//2

3

In [4]:
7/2

3.5

In [5]:
7%2

1

In [6]:
7*2

14

In [7]:
7**2

49