In [5]:
print(np.array([1,2,3])>5)

[False False False]

In [11]:
print(np.logical_and(marks>5,marks<10))

[False False False False  True  True  True  True False]

In [82]:
import pandas as pd
brics=pd.read_csv("file.csv",index_col=0)
print(brics)

   code   country  capital   area  population
1    91     india   mumbai    100         121
2    92  pakistan  karachi    200          12

In [85]:
print(brics[" area"] > 100)

1    False
2     True
Name:  area, dtype: bool

In [86]:
print(brics[np.logical_and(brics[" area"]>101,brics[" area"]<300)])

   code   country  capital   area  population
2    92  pakistan  karachi    200          12

In [ ]:
x=int(input("Please enter an integer:"))

In [4]:
x=int(input("Please enter an integer:"))
if x<0:
    print('Negative Number')
elif x==0:
    print('Zero')
else:
    print('Positive Number')

Please enter an integer:10
Positive Number

In [2]:
z=5
if z%2==0:
    print("z is divisible by 2")
elif z%3==0:
    print("z is divisible by 3")
else:
    print("z is neither divisible by 2 nor by 3")

z is neither divisible by 2 nor by 3

In [1]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [14]:
x=[1,2,3,4]
y=[4,5,6,7]

z= x + y

zz = sorted(z,reverse = 0)
print(zz)

[1, 2, 3, 4, 4, 5, 6, 7]

In [16]:
def welcome():
    print("Welcome to data")
welcome()

Welcome to data

In [23]:
name="vishal"
name[1]

for i in [2,4]:
    print(name[i])

s
a

In [24]:
x=(1,2,2,1,4,5,6)
len(x)

7

In [29]:
even_nums=(1,2,3)
print(type(even_nums))
a,b,c=even_nums
print("a= "+ str(a))
print(even_nums[0])

<class 'tuple'>
a= 1
1

In [35]:
def raise_both(v1,v2):
    new_value1 = v1 ** v2
    new_value2 = v2 ** v1
    new_tuple = (new_value1,new_value2)
    return new_tuple
rs = raise_both(10,2)
print(rs)

(100, 1024)

In [37]:
new_value=10
print(new_value)
def square(value):
    global new_value
    new_value = value ** 2 
    print(new_value)
    
square(3)
print(new_value)

10
9
9

In [41]:
def outer():
    n=1
    def inner():
        nonlocal n
        n=2
        print(n)
    inner()
    print(n)
outer()

2
2

In [46]:
def print_all(**kwargs):
    print(type(kwargs))
    for key, value in kwargs.items():
        print(key + ": " + value)
print_all(student1="Rabson",student2="Robert",student3="Ram Reddy")

<class 'dict'>
student1: Rabson
student2: Robert
student3: Ram Reddy

NameError: name 'kwargs' is not defined

In [70]:
import pandas as pd
brics=pd.read_csv("data.csv",index_col=0)
print(brics)

                 Open       High        Low Last Traded Price  Change  \
Symbol
NIFTY 50    11,967.30  11,968.10  11,883.50         11,914.40  -54.00
TATASTEEL      386.00     402.80     383.10            401.35   16.25
EICHERMOT   21,766.30  22,965.00  21,600.00         22,850.00  895.40
ZEEL           344.00     362.80     334.60            355.95   10.80
NTPC           116.95     119.20     116.95            118.20    2.90
JSWSTEEL       245.00     253.00     244.30            251.30    6.05
VEDL           139.50     142.85     138.70            142.10    3.05
ONGC           131.00     134.65     130.80            133.70    2.55
GRASIM         778.40     796.90     770.25            792.10   13.15
POWERGRID      196.00     201.20     196.00            199.00    2.70
HDFC         2,203.00   2,240.00   2,199.30          2,240.00   29.65
YESBANK         64.25      66.15      64.00             64.95    0.70
COALINDIA      196.95     199.35     196.30            198.70    2.10
SUNPHARMA      450.00     461.90     445.10            450.80    3.65
IOC            128.65     130.40     128.35            129.85    0.95
ITC            247.15     252.65     246.65            247.50    1.80
RELIANCE     1,542.10   1,569.50   1,537.60          1,548.05   10.45
MARUTI       7,034.00   7,077.45   7,000.00          7,065.00   45.95
HINDALCO       188.00     191.30     187.05            189.50    0.90
BAJAJFINSV   9,059.80   9,080.00   8,981.00          9,074.00   18.90
INDUSINDBK   1,449.95   1,460.80   1,437.00          1,448.95    2.80
GAIL           122.00     122.65     121.05            122.10    0.15
ICICIBANK      501.10     501.75     492.15            497.65   -0.60
ULTRACEMCO   4,084.80   4,097.85   4,030.05          4,070.05   -7.20
NESTLEIND   14,190.00  14,300.95  14,102.00         14,150.00  -29.45
HEROMOTOCO   2,449.95   2,458.40   2,426.00          2,436.00   -7.45
ADANIPORTS     372.25     375.55     370.45            371.00   -1.10
SBIN           331.45     333.80     328.25            329.35   -2.00
DRREDDY      2,855.00   2,904.75   2,843.00          2,858.05  -21.20
HINDUNILVR   2,050.00   2,053.20   2,008.00          2,030.80  -17.85
AXISBANK       737.40     740.00     727.50            730.60   -6.80
BAJFINANCE   4,130.00   4,143.80   4,041.00          4,080.00  -43.65
BPCL           513.80     515.45     505.50            508.60   -5.50
LT           1,393.75   1,398.95   1,371.00          1,377.80  -14.90
M&M            554.75     555.00     539.20            545.85   -5.95
TITAN        1,148.00   1,150.70   1,123.20          1,135.05  -13.20
TATAMOTORS     164.90     165.25     160.55            162.25   -1.90
BAJAJ-AUTO   3,180.00   3,186.00   3,133.50          3,150.00  -38.35
HDFCBANK     1,283.65   1,283.65   1,262.00          1,266.50  -16.85
CIPLA          485.00     485.00     472.70            478.65   -6.85
BRITANNIA    3,062.25   3,072.00   3,016.15          3,025.00  -47.65
TECHM          765.00     765.00     742.80            753.10  -12.05
KOTAKBANK    1,591.95   1,593.90   1,565.10          1,568.90  -26.35
HCLTECH      1,130.45   1,134.95   1,108.95          1,117.50  -19.10
WIPRO          243.30     245.65     242.10            243.05   -4.50
BHARTIARTL     423.00     429.95     417.00            418.35   -7.95
UPL            541.00     542.50     530.50            533.30  -11.50
ASIANPAINT   1,710.00   1,713.95   1,676.00          1,682.80  -37.55
TCS          2,097.00   2,107.00   2,060.50          2,067.10  -51.00
INFY           711.75     712.00     685.10            692.95  -20.30
INFRATEL       242.00     243.00     227.40            232.05   -9.85

            %Change Traded Volume(lacs) Traded Value(crs) 52 Week High  \
Symbol
NIFTY 50      -0.45            4,868.16         19,243.19    12,103.05
TATASTEEL      4.22              172.72            677.01       562.00
EICHERMOT      4.08                2.51            560.03    25,300.00
ZEEL           3.13              621.27          2,202.21       506.90
NTPC           2.52              139.34            164.38       145.85
JSWSTEEL       2.47               49.28            122.10       329.40
VEDL           2.19              101.73            143.39       213.30
ONGC           1.94               63.24             84.16       178.90
GRASIM         1.69               14.58            114.45       959.80
POWERGRID      1.38               91.12            181.74       216.25
HDFC           1.34               21.86            486.44     2,357.85
YESBANK        1.09            1,217.92            794.69       286.00
COALINDIA      1.07               43.36             85.76       271.45
SUNPHARMA      0.82              121.15            549.39       536.30
IOC            0.74               67.29             87.28       170.75
ITC            0.73              163.70            408.31       310.00
RELIANCE       0.68              102.19          1,585.29     1,572.40
MARUTI         0.65                6.86            482.67     7,949.75
HINDALCO       0.48               46.36             87.76       237.90
BAJAJFINSV     0.21                1.56            140.59     9,189.00
INDUSINDBK     0.19               20.62            298.41     1,834.40
GAIL           0.12               68.50             83.51       183.25
ICICIBANK     -0.12              184.62            918.36       509.70
ULTRACEMCO    -0.18                2.22             90.38     4,904.95
NESTLEIND     -0.21                0.43             61.25    15,146.90
HEROMOTOCO    -0.30                4.72            115.26     3,380.00
ADANIPORTS    -0.30               36.79            137.20       430.60
SBIN          -0.60              289.75            957.10       373.80
DRREDDY       -0.74                5.50            157.55     2,964.00
HINDUNILVR    -0.87                8.36            169.32     2,190.00
AXISBANK      -0.92               48.90            358.32       827.75
BAJFINANCE    -1.06               12.23            499.62     4,280.00
BPCL          -1.07              118.12            602.61       549.00
LT            -1.07               23.63            326.09     1,607.00
M&M           -1.08               27.98            152.39       814.00
TITAN         -1.15               23.20            262.68     1,389.95
TATAMOTORS    -1.16              212.01            343.96       239.35
BAJAJ-AUTO    -1.20                2.86             90.11     3,289.00
HDFCBANK      -1.31               38.44            488.02     1,287.00
CIPLA         -1.41               27.78            133.03       586.00
BRITANNIA     -1.55                3.50            106.33     3,583.75
TECHM         -1.57               18.20            136.49       846.50
KOTAKBANK     -1.65               18.62            292.88     1,683.95
HCLTECH       -1.68               12.99            144.83     1,187.60
WIPRO         -1.82               40.92             99.73       301.60
BHARTIARTL    -1.86              167.76            709.32       452.95
UPL           -2.11               25.54            136.72       709.05
ASIANPAINT    -2.18               12.75            215.81     1,834.80
TCS           -2.41               37.42            778.11     2,296.20
INFY          -2.85              144.16            999.56       847.00
INFRATEL      -4.07              181.60            420.59       335.00

           52 Week Low  365 Days % Change  30 Days % Change
Symbol
NIFTY 50     10,333.85              12.40              2.81
TATASTEEL       320.35             -27.21             13.22
EICHERMOT    15,200.00              -5.64             14.37
ZEEL            199.15             -18.86             42.12
NTPC            106.67             -20.05             -2.23
JSWSTEEL        201.75             -22.93             14.38
VEDL            125.30             -29.62             -4.73
ONGC            115.55             -11.89             -7.31
GRASIM          633.60              -8.30              4.77
POWERGRID       172.50               9.28             -2.95
HDFC          1,820.00              19.90              5.92
YESBANK          29.00             -67.22             25.39
COALINDIA       177.70             -23.86             -4.84
SUNPHARMA       344.55             -15.40             11.19
IOC             116.25              -8.30            -11.33
ITC             234.05             -12.16             -0.56
RELIANCE      1,055.00              39.10              9.47
MARUTI        5,446.05              -4.84             -2.64
HINDALCO        171.10             -15.08              2.02
BAJAJFINSV    5,612.00              55.06             13.30
INDUSINDBK    1,188.05              -6.32              8.05
GAIL            119.50             -64.61             -5.71
ICICIBANK       336.00              39.50             10.31
ULTRACEMCO    3,332.45               0.65             -4.22
NESTLEIND    10,031.65              38.21             -5.79
HEROMOTOCO    2,225.60             -16.35             -8.92
ADANIPORTS      292.10               2.70            -11.82
SBIN            244.35              14.74             21.76
DRREDDY       1,872.95               9.85              1.68
HINDUNILVR    1,650.00              20.17             -4.54
AXISBANK        580.50              16.55              2.50
BAJFINANCE    2,332.10              67.86              1.14
BPCL            308.35              55.73             -4.77
LT            1,201.10              -1.73             -4.49
M&M             502.55             -29.03             -8.38
TITAN           868.20              22.50            -14.62
TATAMOTORS      106.00             -11.89             23.15
BAJAJ-AUTO    2,442.20              20.94              0.89
HDFCBANK      1,000.08             -37.26              2.19
CIPLA           389.55              -8.33              5.45
BRITANNIA     2,300.00             -49.62             -6.87
TECHM           607.15               9.04              4.94
KOTAKBANK     1,153.05              33.33             -3.68
HCLTECH         920.00              13.43              4.98
WIPRO           226.99             -22.63             -4.14
BHARTIARTL      258.72              25.74             11.83
UPL             480.67             -31.56            -10.67
ASIANPAINT    1,252.15              27.08             -5.47
TCS           1,784.50              14.08              0.77
INFY            599.85              11.93              7.68
INFRATEL        176.35             -10.35            -10.34

In [73]:
print(brics['Open'].astype_int())

AttributeError: 'Series' object has no attribute 'astype_int'

In [3]:
import numpy as np
marks=np.array([1,2,4,5,6,7,8,9,10])
print(marks>5)
print(marks[marks>5])

[False False False False  True  True  True  True  True]
[ 6  7  8  9 10]